Platform Integrity Verified: PostgreSQL Engine Active.
BEGIN;
--
-- Add field countries to brand
--
CREATE TABLE "brand_countries" ("id" bigint NOT NULL PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, "brand_id" bigint NOT NULL, "country_id" bigint NOT NULL);
--
-- Add field logo to brand
--
ALTER TABLE "brand" ADD COLUMN "logo" varchar(255) NULL;
--
-- Add field size to product
--
ALTER TABLE "product" ADD COLUMN "size" numeric(10, 2) NULL;
--
-- Add field size_unit to product
--
ALTER TABLE "product" ADD COLUMN "size_unit_id" bigint NULL CONSTRAINT "product_size_unit_id_9fb0db7e_fk_unit_id" REFERENCES "unit"("id") DEFERRABLE INITIALLY DEFERRED; SET CONSTRAINTS "product_size_unit_id_9fb0db7e_fk_unit_id" IMMEDIATE;
ALTER TABLE "brand_countries" ADD CONSTRAINT "brand_countries_brand_id_country_id_b2209621_uniq" UNIQUE ("brand_id", "country_id");
ALTER TABLE "brand_countries" ADD CONSTRAINT "brand_countries_brand_id_254ab658_fk_brand_id" FOREIGN KEY ("brand_id") REFERENCES "brand" ("id") DEFERRABLE INITIALLY DEFERRED;
ALTER TABLE "brand_countries" ADD CONSTRAINT "brand_countries_country_id_f328b660_fk_country_id" FOREIGN KEY ("country_id") REFERENCES "country" ("id") DEFERRABLE INITIALLY DEFERRED;
CREATE INDEX "brand_countries_brand_id_254ab658" ON "brand_countries" ("brand_id");
CREATE INDEX "brand_countries_country_id_f328b660" ON "brand_countries" ("country_id");
CREATE INDEX "product_size_unit_id_9fb0db7e" ON "product" ("size_unit_id");
COMMIT;
