Django>=5.0
djangorestframework
django-cors-headers
psycopg2-binary
python-dotenv
django-filter
gunicorn
whitenoise
Pillow
httpx
cryptography
pyotp
celery[redis]>=5.3
redis>=5.0
boto3
django-storages[s3]
